<project>
  <import file="define.mapperresult.xml"/>

  <target name="handle.dirsep">
    <mapperresult input="d\e/f/j.java" output="f/j.java">
      <globmapper from="d/e\*" to="*" handledirsep="yes"/>
    </mapperresult>
  </target>
  
  <target name="ignore.case">
    <mapperresult input="AbcDef.JaVa" output="bcDef.java.bak">
      <globmapper from="a*.java" to="*.java.bak" casesensitive="no"/>
    </mapperresult>
  </target>
</project>
