*.el
*.ipr
*.iws
*.pif
.ant.properties
.classpath
.project
.settings
bin
apache-ant-1.*
bootstrap
build
dist
distribution
java-repository
patch.tar.gz
patch.txt
target
velocity.log*
lib/optional/*.jar
src/tests/antunit/core/output
.idea
*.iml
/src/GPATH
/src/GRTAGS
/src/GSYMS
/src/GTAGS
/log.xml
lib/optional/license.txt
/release/distrib/
