<?xml version="1.0"?>
<!--
  Licensed to the Apache Software Foundation (ASF) under one or more
  contributor license agreements.  See the NOTICE file distributed with
  this work for additional information regarding copyright ownership.
  The ASF licenses this file to You under the Apache License, Version 2.0
  (the "License"); you may not use this file except in compliance with
  the License.  You may obtain a copy of the License at

      https://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->

<project name="copy-test" basedir="." default="test1">

  <import file="../buildfiletest-base.xml"/>

  <target name="setUp">
    <mkdir dir="${output}" />
  </target>

  <target name="test1" depends="setUp">
    <union id="source.resourcecollection">
      <fileset dir="../../../main">
        <include name="**/taskdefs/*.java" />
      </fileset>
      <fileset dir="../../../tests/junit">
        <include name="**/taskdefs/*.java" />
      </fileset>
    </union>
    <copy todir="${output}">
      <union refid="source.resourcecollection"/>
      <mapper type="flatten" />
    </copy>
    <resourcecount property="sourcefiles.count">
      <union refid="source.resourcecollection"/>
    </resourcecount>
    <resourcecount property="destfiles.count">
       <fileset dir="${output}"/>
    </resourcecount>
    <resourcecount property="destdirs.count">
      <dirset dir="${output}"/>
    </resourcecount>
    <fail message="different number of files in source and destination ${sourcefiles.count} ${destfiles.count}">
      <condition>
        <not>
          <equals arg1="${sourcefiles.count}" arg2="${destfiles.count}"/>
        </not>
      </condition>
    </fail>
    <!-- one expects the output of resourcecount on a dirset which does not contain subdirectories to be 1 -->
    <!-- it looks like the folder of the dirset itself is counted -->
    <fail message="flatten mapper should not copy folders">
      <condition>
        <not>
          <equals arg1="${destdirs.count}" arg2="1"/>
        </not>
      </condition>
    </fail>
  </target>

</project>
