# This file is a sample .ant.properties file used for building ant.
# Modify it for your own needs and copy it to .ant.properties 
#
# <-- starts a comment

# If you wanted to use the better than average jikes compiler uncomment next line
# build.compiler=jikes
# build.compiler.warnings=true
# build.compiler.pedantic=true
# build.compiler.depend=true

# If you want to use non-standard jars then edit following lines
# jar.junit=/path/to/my/junit.jar

