<roles>
    <XDtClass:forAllClasses abstract="true">
      <XDtClass:ifHasClassTag tagName="ant:role">
        <role shorthand="<XDtClass:classTagValue tagName="ant:role" paramName="shorthand"/>"
              name="<XDtClass:fullClassName/>"/>
      </XDtClass:ifHasClassTag>
    </XDtClass:forAllClasses>
</roles>
