<XDtTagDef:tagDef namespace="Ant" handler="org.apache.tools.ant.xdoclet.AntTagsHandler"/>
<!-- @todo: add forAllTasks -->
<XDtClass:forAllClasses>
  <XDtAnt:taskName/>=<XDtClass:fullClassName/>
</XDtClass:forAllClasses>
